/MissionDashboard/node_modules
/MissionDashboard/.env
.DS_Store
/.pio
/LaunchSystem/Arduino/Continuity_LED_Test
/LaunchSystem/Arduino/ESP32_AP_Trigger/.pio
LaunchSystem/.history/
LaunchSystem/~LaunchSystem.kicad_pcb.lck
LaunchSystem/~LaunchSystem.kicad_pro.lck
LaunchSystem/~LaunchSystem.kicad_sch.lck
